/* ******* ICONS ******* */

.icon.edit {
    width: 14px;
    height: 14px;
    background: url('chrome-extension://__MSG_@@extension_id__/images/edit.png');
}

.icon.bsb-block {
    width: 19px;
    height: 19px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/logo.png');
}

/* ******* FORM ******* */

.form {
    font-size: 12px;
}

.form .btn-wrap .btn {
    float: right;
    margin: 0 0 0 8px;
}

/* ******* COMPONENTS ******* */

/* *** BSB BUTTON *** */

.bsb-button {
    display: block;
    position: relative;
    cursor: pointer;
}

.bsb-button > .counter,
.bsb-button > .title {
    display: inline-block;
    vertical-align: top;
}

.bsb-button > .title {
    padding: 0 10px;
}

.bsb-button > .counter {
    padding: 0 10px 0 5px;
}

.bsb-button > .counter > .icon {
    display: inline-block;
    vertical-align: top;
}

.bsb-button > .counter > .text {
    display: inline-block;
    padding: 0 0 0 6px;
    font-weight: bold;
}

.bsb-servers-list {
    margin: 8px 0 0 0;
}

.bsb-server-page {
    margin: 8px 0 0 0;
}

.bsb-server-page .bsb-button,
.bsb-server-page .btn.btn-small,
.bsb-servers-list .bsb-button,
.bsb-servers-list .btn.btn-small,
.bsb-server-bar .bsb-button,
.bsb-server-bar .btn.btn-small {
    display: block;
    padding: 0;
    text-align: left;
}

.bsb-server-page .bsb-button,
.bsb-server-page .btn.btn-small {
    text-align: left;
}

/* *** TOOLTIP *** */

.bsb-tooltip {
    width: 450px;
    padding: 4px 0;
}

.bsb-tooltip > .inner {
    padding: 8px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    border: none;
    box-shadow: none;
}

.bsb-tooltip > .inner > .scroll {
    max-height: 236px;
    padding-right: 8px;
}

/* Comments List */

.bsb-comments-list {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    list-style: none;
    font-size: 12px;
    color: #FFFFFF;
}

.bsb-comments-list > li {
    margin: 12px 0 0 0;
    padding: 0;
    display: block;
}

.bsb-comments-list > li:first-child {
    margin: 0;
}

.bsb-comments-list > li .date {
    font-size: 10px;
    color: #C2C2C2;
}

.bsb-comments-list > li .text {
    margin: 2px 0 0 0;
    line-height: 14px;
}

.bsb-comments-list > li .text.empty {
    font-style: italic;
}

.bsb-comments-list > li h3 {
    padding: 4px 0 0 0;
    margin: 0;
    line-height: 24px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
}

.bsb-comments-list > li:first-child h3 {
    padding: 0;
}

.bsb-comments-list > li.sep {
    border-top: 1px solid #FFFFFF;
}

/* *** SERVER BAR *** */

.bsb-server-bar {
    height: 42px;
    float: left;
    overflow: hidden;
}

.bsb-server-bar .bsb-button {
    height: 40px;
    padding: 0;
    border-radius: 0;
}

.bsb-server-bar .bsb-button .counter,
.bsb-server-bar .bsb-button .title {
    height: 18px;
    display: block;
    text-align: center;
    overflow: hidden;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
}

.bsb-server-bar .bsb-button .counter {
    height: 21px;
    line-height: 21px;
}

.bsb-server-bar .bsb-button .counter .icon {
    margin: 1px 0 0 0;
}

/* *** FIX BATTLELOG STYLES *** */

#base-bf3-body #unified-game-manager.has-bsb .ugm-state .ugm-playing-misc a,
#unified-game-manager.has-bsb .ugm-state .ugm-playing-misc a {
    max-width: 300px;
}

#base-bf3-body #unified-game-manager.has-bsb .ugm-state .ugm-loading,
#unified-game-manager.has-bsb .ugm-state .ugm-loading {
    max-width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#base-bf3-body #unified-game-manager.has-bsb .ugm-state .ugm-loading .ugm-title,
#unified-game-manager.has-bsb .ugm-state .ugm-loading .ugm-title {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* ******* DEFAULT STYLING ******* */

/* *** FORM *** */

.bsb-default .form .btn-wrap {
    height: 32px;
    line-height: 32px;
}

/* *** BSB BUTTON ***  */

.bsb-button.bsb-default > .counter,
.bsb-button.bsb-default > .title {
    height: 30px;
    line-height: 30px;
}

.bsb-button.bsb-default > .counter {
    border-right: 1px solid #D5DDE5;
}

.bsb-button.bsb-default > .counter > .icon {
    margin: 6px 0 0 0;
    vertical-align: top;
}

.bsb-button.bsb-default.bsb-active {
    border: 1px solid #FC6C6C;
    color: #FC6C6C;
}

.bsb-button.bsb-default.bsb-active > .counter {
    border-color: #FC6C6C;
}

.bsb-button.bsb-default.bsb-active:hover {
    border-color: #D5DDE5;
}

.bsb-button.bsb-default.bsb-active:hover > .counter {
    border-color: #D5DDE5;
}

/* *** DIALOG *** */

.cm-dialog.bsb-default {
    z-index: 9000;
}

.cm-dialog.bsb-default > .bg {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    background: transparent -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.8) 90%);
    background: transparent -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.8) 90%);
    background: transparent radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 90%);
}

.cm-dialog.bsb-default > .window > .inner {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background: #070707;
    border: 1px solid #FFFFFF;
    border-radius: 0;
}

.cm-dialog.bsb-default > .window > .inner > .descr {
    padding: 2px;
    background: #070707;
}

.cm-dialog.bsb-default > .window > .inner > .title {
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(top, #DBDBDB, #FFFFFF 75%);
    background: linear-gradient(to bottom, #DBDBDB, #FFFFFF 75%);
    border-bottom: 1px solid #FFFFFF;
    height: 31px;
    line-height: 31px;
}

.cm-dialog.bsb-default > .window > .inner > .title h1 {
    height: 31px;
    text-align: center;
    line-height: 31px;
    font-size: 18px;
    color: #000000;
}

.cm-dialog.bsb-default > .window > .inner > .close {
    width: 30px;
    height: 30px;
    top: 2px;
    right: 5px;
    background: url('chrome-extension://__MSG_@@extension_id__/images/bf4-dialog.png') center center no-repeat;
    opacity: 0.6;
}

.cm-dialog.bsb-default > .window > .inner > .close:hover {
    opacity: 1;
}

/* *** SERVER BAR *** */

.bsb-server-bar .bsb-button.bsb-default {
    height: 42px;
    font-size: 10px;
    padding: 0;
}

.bsb-server-bar .bsb-button.bsb-default .counter,
.bsb-server-bar .bsb-button.bsb-default .title {
    height: 20px;
    display: block;
    text-align: center;
    overflow: hidden;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
}

.bsb-server-bar .bsb-button.bsb-default .counter {
    height: 21px;
    line-height: 21px;
    border-bottom: 1px solid #D5DDE5;
    font-size: 13px;
}

.bsb-server-bar .bsb-button.bsb-default .counter .icon {
    margin: 1px 0 0 0;
}

.bsb-server-bar .bsb-button.bsb-default.bsb-active .counter {
    border-color: #FC6C6C;
}

.bsb-server-bar .bsb-button.bsb-default.bsb-active:hover {
    border-color: #D5DDE5;
}

.bsb-server-bar .bsb-button.bsb-default.bsb-active:hover .counter {
    border-color: #D5DDE5;
}

/* ******* BATTLEFIELD 3 ****** */

/* *** FORM *** */

.bf3 .form .btn-wrap {
    height: 28px;
    line-height: 28px;
}

/* *** BSB BUTTON *** */

.bsb-button.bf3 {
    height: 25px;
    border: 1px solid #D5D5D5;
    background: -webkit-linear-gradient(top, #F3F3F3 0%, #EFEFEF 100%);
    background: linear-gradient(to bottom, #F3F3F3 0%, #EFEFEF 100%);
    box-shadow: inset 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF;
    border-radius: 2px;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    color: #353535;
}

.bsb-button.bf3:hover {
    background: -webkit-linear-gradient(top, #F9F9F9 0%, #F8F8F8 100%);
    background: linear-gradient(to bottom, #F9F9F9 0%, #F8F8F8 100%);
}

.bsb-button.bf3 > .counter,
.bsb-button.bf3 > .title {
    height: 25px;
    line-height: 26px;
}

.bsb-button.bf3 > .counter {
    border-right: 1px solid #D5D5D5;
}

.bsb-button.bf3 > .counter > .icon {
    margin: 4px 0 0 0;
}

.bsb-button.bf3.bsb-active {
    border-color: #E45959;
    background: none #FCABAB;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0 #FFFFFF;
}

.bsb-button.bf3.bsb-active > .counter {
    border-color: #E45959;
}

.bsb-button.bf3.bsb-active:hover {
    border-color: #F19191;
    background: none #FDCDCD;
}

.bsb-button.bf3.bsb-active:hover > .counter {
    border-color: #F19191;
}

.bsb-server-page.bf3 {
    float: left;
    margin: 0 10px 0 0;
}

.bsb-servers-list.bf3 {
    float: left;
    margin: 0 0 8px 10px;
}

/* *** DIALOG *** */

.cm-dialog.bf3 {
    z-index: 9000;
}

.cm-dialog.bf3 > .bg {
    opacity: 1;
    background: transparent -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.8) 90%);
    background: transparent -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.8) 90%);
    background: transparent radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 90%);
}

.cm-dialog.bf3 > .window > .inner {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: 6px solid rgba(0, 0, 0, 0.7);
    border-radius: 0;
    color: #353535;
}

.cm-dialog.bf3 > .window > .inner > .descr {
    padding: 0;
}

.cm-dialog.bf3 > .window > .inner > .title {
    margin: 0;
    padding: 10px;
    background: #EBEBEB;
    border-bottom: 1px solid #DFDFDF;
    line-height: 18px;
}

.cm-dialog.bf3 > .window > .inner > .title h1 {
    line-height: 18px;
    font-size: 12px;
    color: #353535;
}

.cm-dialog.bf3 > .window > .inner > .close {
    width: 13px;
    height: 13px;
    top: 19px;
    right: 19px;
    background: url('chrome-extension://__MSG_@@extension_id__/images/dialog.png') 0 -26px no-repeat;
}

.cm-dialog.bf3 > .window > .inner > .close:hover {
    opacity: 1;
    background-position: 0 -39px;
}

/* *** SERVER BAR *** */

.bsb-server-bar .bsb-button.bf3 {
    height: 40px;
    border-radius: 0;
}

.bsb-server-bar .bsb-button.bf3 .counter,
.bsb-server-bar .bsb-button.bf3 .title {
    height: 18px;
    display: block;
    text-align: center;
    overflow: hidden;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
}

.bsb-server-bar .bsb-button.bf3 .counter {
    height: 21px;
    line-height: 21px;
    border-bottom: 1px solid #D5D5D5;
}

.bsb-server-bar .bsb-button.bf3 .counter .icon {
    margin: 1px 0 0 0;
}

.bsb-server-bar .bsb-button.bf3.bsb-active .counter {
    border-color: #E45959;
}

.bsb-server-bar .bsb-button.bf3.bsb-active:hover .counter {
    border-color: #F19191;
}

/* ******* BATTLEFIELD HARDLINE ******* */

/* *** BSB BUTTON *** */

.bsb-server-page.bfh {
    margin: 8px 0;
}